= form_for(@mailbox) do |f|
  = if @mailbox.errors.present?
    %ul
      = @mailbox.errors.full_messages.each do |msg|
        %li= msg
   
  %p
    = f.label :description
    = f.text_field :description
    
    = f.fields_for(:location) do |l_form|
      .field
        = l_form.label :address, "Address"
        = l_form.text_field :address

        = l_form.label :city, "City"
        = l_form.text_field :city

        = l_form.label :state, "State"
        = l_form.text_field :state

        = l_form.label :zip, "Zip"
        = l_form.text_field :zip

    = f.label :pickup_time_m_f, "Pickup Time Mon-Fri"
    = f.text_field :pickup_time_m_f

    = f.label :pickup_time_sat, "Pickup Time Sat"
    = f.text_field :pickup_time_sat

  %p= f.submit

= link_to "Home", mailboxes_path