%h1 Mailbox Finder!
= form_tag mailboxes_path, :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search Near", :name => nil

= gmaps4rails(@json)

%h2 Mailboxes

%ul
  = @mailboxes.each do |mailbox|
    %li= link_to mailbox.location, mailbox
%a= link_to "Add New Mailbox", new_mailbox_path
